/* =Header
-------------------------------------------------------------- */
#header {
}

#header #linha_media {
  background-image: url(images/headers/main-bg.gif);
  height: 106px;
}

#header #linha_top {
	background-color:#C9C9C9;
  height: 3px;
}

#header #cabecalho_msg {
	background-color: #777;
	padding: 3px;
  width: 341px;
	color: #FFF;
  font-size: 10px;
  height: 15px;
  text-align: left;
}
/* ----------------------------------------------------------- */



/* =Page
-------------------------------------------------------------- */
.page, .post {
  text-align: left;
  padding: 0 30px;
}

.entry-title {
  color: #F60;
  border-bottom: solid 1px #777;
}

.entry-content {
  color: #777;
  font-size:11px;
}
/* ----------------------------------------------------------- */



/* =Home
-------------------------------------------------------------- */
#destaque {
  margin-bottom: 15px;
}

#lancamentos, #promocoes {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 15px;
}
/* ----------------------------------------------------------- */

/* =Menu
-------------------------------------------------------------- */
#header #menu {
  width: 974px;
  height: 26px;
  padding: 0 15px;
  background-image: url(images/headers/menu-bg.gif);
}

.menu-separador {
  width: 15px;
  text-align: center;
  color: #a1a1a1;
}

.linkmenu_on, .linkmenu {
  padding: 2px 5px;
  text-decoration: none;
  color: #a1a1a1;
}

.linkmenu:hover{
  padding: 2px 5px;
  text-decoration: none;
  color: #a1a1a1;
  background-color: #ededed;
}

.linkmenu_on {
  color: #FFF;
  background-color: #ff6600;
}
/* ----------------------------------------------------------- */


/* =Footer
-------------------------------------------------------------- */
#rodape {
  height: 40px;
  color: #777;
}
#rodape #aceitamos {
  width: 102px;
  text-align: right;
  padding-right: 33px;
  font-weight: bold;
}

#rodape #pgto {
  background-image: url(images/footer/pag-seguro.png);
  background-repeat: no-repeat;
  width: 125px;
}

#rodape #texto {
  text-align: center;
  font-size: 11px;
}
/* ----------------------------------------------------------- */


/* =Search Form
-------------------------------------------------------------- */
#search-area {}

#searchform {}

#searchform  #s {
  width: 181px;
  height: 17px;
  border: none;
  color: #777;
  font-size: 11px;
  padding: 2px;
}

#searchform #searchsubmit {
  width: 64px;
  height: 21px;
  border-style: none;
  background-color: #ff6600;
  font-weight: bold;
  font-size: 12px;
  color: #FFF;
}
/* ----------------------------------------------------------- */


/* =Search Result Page
-------------------------------------------------------------- */
#search-menu {
  text-align: left;
  padding-left: 15px;
  width: 150px;
}

#search-content {
  padding-right: 15px;
}

#search-content-table {
  min-height: 302px;
}

#search-container-table {
  width: 100%;
}

#search-type-table a {
  margin-left: 12px;
  color: #A1A1A1;
  text-decoration: none;
  font-size: 11px;
  padding: 3px;
}

#search-type-table a:hover {
  background-color: #ededed;
}

.seach-type-title {
  padding-top:15px;
}

#search-type-table strong {
  color: #FF6600;
}
/* ----------------------------------------------------------- */


/* =Classes
-------------------------------------------------------------- */
.data {
  color: #777;
  font-size: 10px;
}
/* ----------------------------------------------------------- */


/* =Galeria
-------------------------------------------------------------- */
.galeria {
  width: 100%;
}

.galeria .produto-wrapper {
  display: inline-table;
  min-height: 255px;
  margin-left: 25px;
}

.galeria .produto {
  background-color: #ddd;
  margin-bottom: 12px;
}

.galeria .produto .produto-bar {
  background-color: #e5e5e5;
  width: 23px;
}

.galeria .produto .produtc-image, .produto-imagem {
  width: 160px;
  height: 160px;
}
.galeria .produto .produto-imagem {
  background-color: #FFF;
  cursor: pointer;
}

.galeria .produto-info {
  color: #777;
  min-height: 40px;
}

.galeria .produto-info .prod-tit, .prod-por {
  font-weight: bold;
  cursor: pointer;
}

.galeria .produto-info .prod-de {
  text-decoration: line-through;
  font-size: 9px;
  cursor: pointer;
}

.galeria .produto-info .prod-por {
  display: inline;
}

.galeria .prod-button-wrapper {
  margin-top: -10px;
}

.galeria .caixa-cor {
  border:solid 1px #FFF;
  width: 12px; 
  height: 12px; 
  margin-top: 5px;
}

.buy-submit, .wpcf7-submit, .wpsc_buy_button{
  width: 84px;
  border-style: none;
  background-color: #ff6600;
  font-weight: bold;
  font-size: 12px;
  color: #FFF;
}

.variations-color-chooser:hover {
  background-color: #EFEFEF;
}
/* ----------------------------------------------------------- */

/* =Todo documento
-------------------------------------------------------------- */
body {
	font-family: Verdana, Arial;
	font-size: 11px;
	padding: 0px;
	margin: 0px;
  background-color: #CCC;
}

#container {
  min-height:300px;
  width: 1004px;
  background-color: #FFF;
  padding-top: 15px;
}

#wrapper {
	width: 1004px;
  background-color: #FFF;
}
/* ----------------------------------------------------------- */